body, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --font-reddit: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*--------------------------------------------------portada---------------------------------*/ 
.contenedor {
    background-image: url("../img/5137894.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor__navegacion{
  position:sticky;
  z-index: 23;
  top: 0;
}
.navegacion{
background: rgba(0,0,0,0.59);
background: linear-gradient(90deg,rgba(0,0,0,0.59) 0%, #0000001e 80%);
;
padding-left: 0;
display: flex;
justify-content: center;
width: 100%;
}
.navegacion__list{
 display: flex;
 list-style: none;
padding: 10px  5px 10px 10px ;

}
.list__items{
  background-color: red;
margin: 0; 
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  margin: 10px 10px ;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  border: 2px solid #4c366b;
  background:#4c366b;
}
.list__items:hover {
  background:transparent;
  color: #4c366b;
}
/*-------- contenedor__text ----------*/

.presentacion__text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.presentacion__saludo{
  font-size: 3rem;
color: #4c366b;
justify-items: end;
}
.presentacion__nombre{
  font-size: 4rem;
}
 .img__marcos{
 width: 200px;
 filter: sepia(50%)brightness(70%);
 border-radius: 50%;
 border-color: #4c366b; 
border-style: solid;
}

.presentacion__button{
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  border: 2px solid #4c366b;
  background:#4c366b;
}
.presentacion__button:hover {
  background:transparent;
  color: #4c366b;
}
.presentacion__parrafo3{
  margin-bottom: 40px;
}
.presentacion_desarrollador{
  margin-bottom: 40px;
}

/* certificaciones */
.contenedor__certificaciones{

margin: 0 8%;
}

.certificaciones__titulo{
display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}

/*---------------lista Cards -------------------------------*/

.certificaciones__cards{
  display: flex;
flex-wrap: wrap;
justify-content: center;
}


/*---------------card--------------- */

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 240px;
  margin: 10px 10px ;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  
  text-align: center;
  background-color:#4c366b;
  color: white;
  transform: rotateY(180deg);
}
/*-------------fin card---------------- */


