body, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --font-reddit: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*--------------------------------------------------portada---------------------------------*/ 
.contenedor {
    background-image: url("../img/5137894.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navegacion{
background: rgba(0,0,0,0.59);
background: linear-gradient(90deg,rgba(0,0,0,0.59) 0%, #0000001e 80%);
;
padding-left: 0;
display: flex;
justify-content: center;
width: 100%;
}
.navegacion__list{
 display: flex;
 list-style: none;
padding: 10px  5px 10px 10px ;

}
.list__items{
  background-color: red;
margin: 0; 
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  margin: 10px 10px ;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  border: 2px solid #4c366b;
  background:#4c366b;
}
.list__items:hover {
  background:transparent;
  color: #4c366b;
}
/*-------- contenedor__text ----------*/

.presentacion__text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.presentacion__saludo{
  font-size: 2rem;
color: #4c366b;
justify-items: end;
}
.presentacion__nombre{
  font-size: 4rem;
}





